/*------------------------------------------*/
/*            Keyframe Animations           */
/*------------------------------------------*/

/*
// Ensures that the progress bar doesn't shrink back when job info folds back in 
*/
@keyframes progress-shrink {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes coin-up {
    0% {
        margin-bottom: 0;
    }

    20% {
        margin-bottom: 8px;
    }

    40% {
        margin-bottom: 16px;
    }

    60% {
        margin-bottom: 30px;
    }

    80% {
        margin-bottom: 45px;
    }

    100% {
        margin-bottom: 60px;
    }
}