/*------------------------------------------*/
/*            Keyframe Animations           */
/*------------------------------------------*/

/*
// Ensures that the progress bar doesn't shrink back when job info folds back in 
*/
@keyframes progress-shrink {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes coin-animation-up {
    0% {
        bottom: 18px;
        transform: scale(1);
    }
    50% {
        bottom: 34px;
    }
    100% {
        opacity: 0;
        bottom: 60px;
        transform: scale(1.1);
    }
}

@keyframes coin-animation-left {
    0% {
        bottom: 18px;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        bottom: 60px;
        margin-left: -4px;
        transform: scale(1.1);
    }
}

@keyframes coin-animation-right {
    0% {
        bottom: 18px;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        bottom: 60px;
        margin-left: 4px;
        transform: scale(1.1);
    }
}

