/*------------------------------------------*/
/*               Main App Page              */
/*------------------------------------------*/
.react-calendar {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 4px;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  font-family: 'Montserrat', sans-serif;
  width: 396px;
  margin-top: 16px;
  background-color: #f4f1f5;
  /* margin: 4px; */
}

.add-interview-date .react-calendar {
  margin-top: 0;
}

/*
// Dates
*/ 
.react-calendar__month-view__days button {
  border: 1px solid transparent;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
}

/*
// Name of the month 
*/
.react-calendar__navigation__label {
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
}
.time-picker input {
  width: 394px;
  padding: 22px 18px;
}
.rc-time-picker-panel-inner {
  width: 394px;
}

.rc-time-picker-input {
  width: 394px;
  padding: 18px 22px;
}

.rc-time-picker {
  width: 394px;
}
.rc-time-picker input{
    width: 100%;
  }
.rc-time-picker-panel {
  width: 394px;
}
/*
// Contains the dates 
*/ 
.react-calendar__tile {
  padding: .5em 0;
}