/*------------------------------------------*/
/*                Top Auth Page             */
/*------------------------------------------*/

.auth-container {
    background-color: #f5f0f5;
    width: 100%;
    height: 100%;
}

/*------------------------------------------*/
/*                 Splash Page              */
/*------------------------------------------*/
.splash-container h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.splash-container {
    margin-top: 60px;
}

    .splash-top {
        background-color: rgba(255, 0, 0, 0.2);
        text-align: center;
    }

    .splash-top h1 {
        font-size: 3.4rem;
    }

    .splash-top p {
        font-size: 2rem;
    }

        .splash-top-button-container {
            display: flex;
            justify-content: center;
        }

        .splash-top button {
            outline: none;
            border: none;
            background-color: rgba(255, 0, 255, 0.4);
            border-radius: 50px;
            height: 50px;
            width: 200px;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.6rem;
            margin: 10px;
        }

    .splash-features {
        background-color: rgba(0, 255, 0, 0.2);
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 100px;
        transition: 0.3s all;
    }

        .splash-feature-card {
            height: 260px;
            width: 240px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(0, 255, 0, 0.4);
            text-align: center;
            transition: 0.3s all;
        }

        .splash-feature-card div {
            height: 65%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .splash-features img {
            height: 120px;
            width: 120px;
        }

        .splash-feature-card p {
            font-size: 1.8rem;
            margin: 0 10px;
        }

    .splash-footer {
        background-color: #243b54;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .splash-footer.fab {
            font-size: 20px;
        }

        .splash-footer a,
        .splash-footer a:visited,
        .splash-footer a:active {
            color: #fefefe;
            text-decoration: none;
        }

@media screen and (max-width: 992px) {
    .splash-features {
        padding: 0 3%;
    }
}

@media screen and (max-width: 810px) {
    .splash-features {
        flex-direction: column;
        align-items: center;
    }

    .splash-feature-card {
        width: 80%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .splash-top-button-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 420px) {
    .splash-feature-card {
        width: 99%;
    }
}


/*------------------------------------------*/
/*           User Signup and Login          */
/*------------------------------------------*/
.auth-form-container {
    margin-top: 60px;
}