/*------------------------------------------*/
/*                Top Auth Page             */
/*------------------------------------------*/

.auth-container {
    background-color: #f5f0f5;
    width: 100%;
    height: 100%;
}

/*------------------------------------------*/
/*                 Splash Page              */
/*------------------------------------------*/
.splash-container h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.splash-container {
    margin-top: 60px;
}

    .splash-top {
        background-color: rgba(255, 0, 0, 0.2);
        /* height: 93vh; */
        text-align: center;
    }

    .splash-top h1 {
        font-size: 3.4rem;
    }

    .splash-top p {
        font-size: 2rem;
    }

        .splash-top-button-container {
            display: flex;
            justify-content: center;
        }

        .splash-top button {
            outline: none;
            border: none;
            background-color: rgba(255, 0, 255, 0.4);
            border-radius: 50px;
            height: 50px;
            width: 200px;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.6rem;
        }

    .splash-features {
        background-color: rgba(0, 255, 0, 0.2);
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
    }

        .splash-feature-card {
            height: 260px;
            width: 240px;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* justify-content: center; */
            background-color: rgba(0, 255, 0, 0.4);
            text-align: center;
        }

        .splash-feature-card div {
            height: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .splash-features img {
            height: 120px;
            width: 120px;
        }

        .splash-feature-card p {
            font-size: 1.8rem;
        }

    .splash-footer {
        background-color: rgba(0, 0, 255, 0.2);
        height: 200px;
    }



/*------------------------------------------*/
/*           User Signup and Login          */
/*------------------------------------------*/
.auth-form-container {
    margin-top: 60px;
}