/*------------------------------------------*/
/*            Home Navigation Bar           */
/*------------------------------------------*/

/*
// Set all text tags' padding and margin to 0 
*/
.home-nav-bar h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

/*
// Responsive 
// Web browser 
// Navigation bar that appears after user logs in 
*/
.home-nav-bar,
.home-nav-bar-mobile {
    background-color: #fefefe;
    height: 60px;
    /* width: 100%; */
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    z-index: 11;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: rgb(0, 149, 222);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
}

    /* 
    // Responsive
    // Mobile 
    // Navigation bar 
    */ 
    .home-nav-bar-mobile {
        display: none;
    }

    .home-nav-bar-mobile-fixed {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

        /*
        // Profile logo on the top right
        */ 
        .home-nav-bar-mobile-fixed a,
        .home-nav-bar-mobile-fixed a:visited {
            text-decoration: none;
            color: rgb(0, 149, 222);
            -moz-transition: 0.5s color;
            -o-transition: 0.5s color;
            -webkit-transition: 0.5s color;
            transition: 0.5s color;
        }

        /*
        // Contains menu bars
        */
        .home-nav-bar-bars {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 3%;
            cursor: pointer;
            -moz-transition: 0.5s color;
            -o-transition: 0.5s color;
            -webkit-transition: 0.5s color;
            transition: 0.5s color;
        }

            /*
            // Hover color on menu bar and profile logo
            */ 
            .home-nav-bar-mobile-fixed a:hover,
            .home-nav-bar-bars:hover {
                color: rgb(24, 70, 97);
            }

        /*
        // Contains experience and profile logo
        */
        .home-nav-bar-mobile-right {
            display: flex;
            align-items: center;
            margin-right: 3%;
        }

        /*
        // Dropdown menu container 
        */ 
        .home-nav-bar-mobile-dropdown {
            background-color: #fefefe;
            position: absolute;
            top: 60px;
            padding-left: 3%;
            width: 100%;
            height: 0;
            visibility: hidden;
            overflow: hidden;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

            .home-nav-bar-mobile-dropdown a,
            .home-nav-bar-mobile-dropdown a:visited {
                text-decoration: none;
                color: rgb(0, 149, 222);
                font-size: 1.6rem;
            }

            /*
            // Expanded menu items 
            */ 
            .home-nav-bar-mobile-dropdown h3 {
                font-weight: 400;
                height: 25%;
                align-items: center;
                display: flex;
            }
        
        /*
        // Dropdown menu container expanding 
        */ 
        .home-nav-bar-mobile-expand {
            visibility: visible;
            height: 160px;
            display: flex;
            flex-direction: column;
        }



/*
// Left section of the navigation bar 
*/
.home-nav-left {
    display: flex;
    align-items: center;
    margin-left: 160px;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

    /*
    // "Jobs" and "Add Job"
    */
    .home-nav-left h3 {
        font-size: 1.4rem;
        margin-right: 22px;
    }

    /*
    // Elevate logo on the top left 
    */
    .home-nav-left img {
        width: auto;
        height: 25px;
        margin-right: 22px;
        cursor: pointer;
    }

/*
// Right section of the navigation bar
*/
.home-nav-right {
    display: flex;
    align-items: center;
    margin-right: 160px;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

    /*
    // Experience points bar 
    */
    .home-nav-exp-container {
        background-color: #f5f0f5;
        border-radius: 50px;
        margin-right: 22px;
        padding: 6px 8px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Rubik', sans-serif;
        font-size: 1.6rem;
        letter-spacing: 1.4px;
        cursor: default;
        transition: 0.2s all;
    }

        /*
        // Coin image 
        */
        .home-nav-exp-container img {
            height: 24px;
            width: auto;
        }

            .coin-animate-active-a,
            .coin-animate-active-b,
            .coin-animate-active-c,
            .coin-animate-active-d,
            .coin-animate-active-e,
            .coin-animate-inactive-a,
            .coin-animate-inactive-b,
            .coin-animate-inactive-c,
            .coin-animate-inactive-d,
            .coin-animate-inactive-e {
                position: absolute;
                bottom: 18px;
                height: 24px;
                width: auto;
            }

            .coin-animate-active-a {
                animation: coin-animation-up 0.5s linear;
                opacity: 0.8;
            }

            .coin-animate-active-b {
                animation: coin-animation-left 0.5s linear;
                animation-delay: 0.2s;
                opacity: 0.7;
            }

            .coin-animate-active-c {
                animation: coin-animation-right 0.5s linear;
                animation-delay: 0.3s;
                opacity: 0.65;
            }

            .coin-animate-active-d {
                animation: coin-animation-up 0.5s linear;
                animation-delay: 0.6s;
                opacity: 0.6;
            }

            .coin-animate-active-e {
                animation: coin-animation-up 0.5s linear;
                animation-delay: 0.7s;
                opacity: 0.55;
            }

        /*
        // Experience points
        */
        .home-nav-exp-container p {
            color: rgb(0, 149, 222);
        }

        .home-nav-exp-container:hover {
            background-color: #eeeaee;
        }

    /*
    // "Profile" 
    */
    .home-nav-right h3 {
        font-size: 1.4rem;
        margin-left: 22px;
        cursor: pointer;
    }

/*
// Every text on the nav bar 
*/
.home-nav-bar a,
.home-nav-bar a:visited {
    text-decoration: none;
    color: rgb(0, 149, 222);
    -moz-transition: 0.5s color;
    -o-transition: 0.5s color;
    -webkit-transition: 0.5s color;
    transition: 0.5s color;
}

.home-nav-bar a:hover {
    color: rgb(24, 70, 97);
}

/*
// When screen width is smaller than 1300px, left and right margins become responsive 
*/
@media screen and (max-width: 1300px) {
    .home-nav-left {
        margin-left: 3%;
    }

    .home-nav-right {
        margin-right: 3%;
    }
}

@media screen and (max-width: 720px) {
    /* 
    // Web navigation bar disappears 
    */
    .home-nav-bar {
        display: none;
    }

    /*
    // Mobile navigation bar appears 
    */ 
    .home-nav-bar-mobile {
        display: flex;
        flex-direction: column;
        z-index: 11;
    }

}
