/*------------------------------------------*/
/*             Top Navigation Bar           */
/*------------------------------------------*/

.top-navigation {
    background-color: #fefefe;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0,149,222);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
}

.top-navigation-left {
    display: flex;
    align-items: center;
    margin-left: 100px;
    transition: 0.5s all;
}

    .top-navigation-left img {
        width: auto;
        height: 50px;
    }

.top-navigation-right {
    display: flex;
    align-items: center;
    margin-right: 100px;
    transition: 0.3s all;
}

    .top-navigation-right h3 {
        font-size: 1.4rem;
        cursor: default;
        margin-left: 22px;
        transition: 0.5s all;
    }

    .top-navigation-right h3:hover {
        color: rgb(42,70,97);
    }


@media screen and (max-width: 992px) {
    .top-navigation-left {
        margin-left: 3%;
    }

    .top-navigation-right{
        margin-right: 3%;
    }
}