@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Montserrat:300,400,500');


body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  /* font-family: Roboto, sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 10px;
  background-color: #f5f0f5;
}
