/*------------------------------------------*/
/*        Side/Top Bar for Adding Job       */
/*------------------------------------------*/

/* Container that holds sidebar and current stage */
.add-job-moving-stages-container {
    width: 100%;
    /* background-color: rgba(0, 255, 0, 0.1);  */
}

/* Main sidebar/topbar container */
.job-sidebar {
    /* background-color: rgba(0, 0, 255, 0.1);  */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}


/* Top of the sidebar */
.job-sidebar .sidebar-top {
    /* background-color: rgba(0, 0, 255, 0.1);  */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.job-sidebar .company-container {
    width: 50%;
    display: flex;
    align-items: flex-end;
    /* background-color: rgba(255, 0, 0, 0.1); */
}

.job-sidebar .company-container img {
    position: relative;
    height: 46px;
    width: 46px;
    border-radius: 100%;
    margin-right: 22px;
}

.job-sidebar h3.company {
    font-size: 3.6rem;
    font-weight: 400;
    padding: 0;
    /* background-color: rgba(255, 0, 0, 0.2); */
}

.job-sidebar h3.position {
    font-size: 2.6rem;
    width: 36%;
    padding: 0;
    /* background-color: rgba(255, 0, 0, 0.3); */
}

.job-sidebar h3.applied-date {
    font-size: 2rem;
    width: 14%;
    padding: 0;
    /* background-color: rgba(255, 0, 0, 0.4); */
}


/* Bottom of sidebar */
.job-sidebar .sidebar-bottom {
    /* background-color: rgba(255, 0, 0, 0.1); */
    display: flex;
    height: 76px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.04);
}


    /* Bottom left of sidebar */
    .job-sidebar .sidebar-left {
        /* background-color: rgba(0, 0, 255, 0.1);  */
        width: 86%;
        justify-content: center;
    }

    /* Bottom right of sidebar */
    .job-sidebar .sidebar-right {
        /* background-color: rgba(0, 0, 255, 0.2); */
        display: flex;
        flex-direction: column;
        width: 14%;
        justify-content: center;
    }

    .job-sidebar .sidebar-right h3 {
        font-size: 2rem;
        padding: 0;
    }

    .job-sidebar .sidebar-right a,
    .job-sidebar .sidebar-right a:visited {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.9);
    }

@media screen and (max-width: 1300px) {
    .job-sidebar {
        width: 94%;
    }

    .job-sidebar h3.position {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 1040px) {
    .job-sidebar h3.company {
        font-size: 3rem;
    }
    /* And the position and date gets pushed to 2nd row */
    .job-sidebar h3.position {
        font-size: 2.2rem;
    }
    .job-sidebar h3.applied-date {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 720px) {
    /* Top of sidebar wraps */
    .job-sidebar .sidebar-top {
        flex-wrap: wrap;
    }
    /* So that the company name could be on its own row */
    .job-sidebar h3.company {
        width: 100%;
    }
    /* And the position and date gets pushed to 2nd row */
    .job-sidebar h3.position {
        width: 74%;
    }
    .job-sidebar h3.applied-date {
        width: 26%;
    }

    .sidebar-bottom .sidebar-left {
        width: 74%;
    }
    .sidebar-bottom .sidebar-right {
        width: 26%;
    }
}

@media screen and (max-width: 510px) {
    .job-sidebar {
        width: 98%;
    }
    /* Shrink fonts */
    .job-sidebar h3.company {
        font-size: 2.8rem;
    }
    .job-sidebar h3.position {
        font-size: 2.2rem;
    }

}