/*------------------------------------------*/
/*            Update Job Form Page          */
/*              Job Status Page             */
/*            Offered Salary Page           */
/*------------------------------------------*/

.update-job-form-container {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: #f5f0f5;
  transition: 0.3s all;
}

.update-job-form-container h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

/* Forms: update job, job status, salary input */
.update-form, 
.job-status-form, 
.salary-input-form {
  font-family: 'Montserrat', sans-serif;
  background-color: #fefefe;
  display: flex;
  width: 920px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.03);
  flex-direction: column;
  justify-content: center;
  padding: 22px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.9);
  transition: 0.3s all;
}

.job-status-form, 
.salary-input-form {
  justify-content: space-between;
}

.update-job-form-container h1 {
  font-weight: 400;
  font-size: 3.2rem;
  padding-left: 22px;
}
.update-job-form-container h3 {
  font-weight: 300;
  font-size: 2.2rem;
  padding-left: 22px;
}

.initial-prompt, 
.job-status-form, 
.salary-input-form {
  height: 420px;
}

.initial-prompt .choices {
  padding-top: 30px;
}

.initial-prompt h3 {
  padding: 14px 0px 14px 22px;
}

.update-job-form-container p {
  font-weight: 300;
  font-size: 1.8rem;
  padding-left: 22px;
}

/* Anchor tags */
.job-status-form a,
.job-status-form a:visited {
  display: inline-block;
  text-decoration: none;
  color: #3498db;
  transition: 0.2s all;
}



/*------------------------------------------*/
/*              Update Job Form             */
/*------------------------------------------*/

.update-job-form-container form, 
.update-initial-prompt {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 22px;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.9);
  transition: 0.3s all;
}

.update-job-applied-company {
  background-color: #fefefe;
}

.update-job-form-input-title {
  width: 396px;
  display: flex;
  justify-content: flex-start;
}
.update-job-form-container p {
  font-size: 15px;
  font-weight: 300;
}

/*------------------------------------------*/
/*                  Inputs                  */
/*------------------------------------------*/

.update-job-form-container form input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  outline: none;
  border: none;
  width: 350px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: rgba(40, 60, 83, 0.8);
  padding: 18px 22px;
  margin: 4px;
  font-size: 1.2rem;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

textarea {
  font-size: 16px;
  outline: none;
  border: none;
  width: 350px;
  height: 50px;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: rgba(40, 60, 83, 0.8);
  padding: 18px 22px;
}


.update-job-form-container form input[type='text'],
.update-job-form-container form input[type='email'],
.update-job-form-container form input[type='date'] {
  font-size: 20px;
}

.update-job-form-container form input[type='date'],
.update-job-form-container form input[type='time'] {
  font-size: 16px;
}

/* Input pseudo elements */
.update-job-form-container form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 13px;
}

.update-job-form-container form input:focus,
button:focus {
  border: 1px solid rgba(0, 149, 222, 0.6);
}


/*------------------------------------------*/
/*                  Buttons                 */
/*------------------------------------------*/

.update-job-form-container form input[type='submit'] {
  background: rgba(0, 149, 222, 1);
  outline: none;
  border: none;
  border-radius: 60px;
  width: 200px;
  font-weight: 300;
  color: #fefefe;
  margin-top: 30px;
  cursor: pointer;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  font-size: 15px;
}

.add-interview-button {
  background: rgba(0, 149, 222, 1);
  border: none;
  border-radius: 100px;
  outline: none;
  width: 50px;
  height: 50px;
  color: #fefefe;
  font-size: 15px;
}

/* Button pseudo elements */
/* .update-job-form-container form input[type='submit']:hover,
button:hover {
  transform: scale(1.02);
} */

/*------------------------------------------*/
/*        Fontawesome inside Inputs         */
/*------------------------------------------*/

/*  hard coding font awesome icons to the right sides of the add job form input */
.building-icon {
  position: relative;
  z-index: 9;
  left: 350px;
  color: rgba(0, 0, 0, 0.2);
  bottom: 44px;
}

/* hard codoing font awesome pencil to the right hand top corner of the notes area */
.company-input {
  height: 70px;
}

.company-image {
  z-index: 9;
  position: relative;
  width: 40px;
  left: 340px;
  bottom: 55px;
  height: 40px;
  border-radius: 50%;
}

.suggestion-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  height: 50px;
  width: 394px;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.suggestion-container:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.suggestion-container img {
  border-radius: 50%;
  width: 50px;
  padding-left: 5px;
  height: 50px;
}

.suggestion-container p {
  padding-left: 5px;
}

/* Next button after user clicks Offered */
.job-status-button-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 22px;
}

.job-salary-buttons, 
.job-salary-buttons-saved  {
  border: none;
  outline: none;
  margin: 0 22px;
}

.salary-input-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.salary-input-button-container a {
  text-decoration: none;
  color: #fefefe
}

.job-status-message, 
.salary-input-button-container {
  height: 110px;
}

/* Contains Salary label and input box */
.job-status-switch-field,
.salary-input-container {
  font-family: 'Montserrat', sans-serif !important;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.salary-input-container {
  align-items: flex-end;
}

.salary-input-container h3 {
  padding-right: 22px;
}

.back-button {
  position: absolute;
  left: 5%;
  top: 45%;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 3;
}

.switch-title {
  margin-bottom: 6px;
}


/*------------------------------------------*/
/*             Job Status Buttons           */
/*------------------------------------------*/

.job-status-switch-field input {
  display: none;
}

.job-status-switch-field label {
  float: left;
}

.job-status-switch-field label {
  display: inline-block;
  width: 100px;
  background-color: #fefefe;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  text-shadow: none;
  padding: 10px 18px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.08),
    0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.job-status-switch-field label:hover {
  cursor: pointer;
}

/* If offered is checked, grab the label */
.job-status-switch-field .status-switch-offered:checked + label {
  background-color: #1dbb9c;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fefefe;
}

/* If rejected is checked, grab the label */
.job-status-switch-field .status-switch-rejected:checked + label {
  background-color: #d9534f;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fefefe;
}

/* If awaiting is checked, grab the label */
.job-status-switch-field .status-switch-awaiting:checked + label {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fefefe;
}

/*------------------------------------------*/
/*               Media Queries              */
/*------------------------------------------*/
@media screen and (max-width: 1040px) {
  /* Job status card becomes responsive */
  .job-status-form {
    width: 90%;
  }
}

@media screen and (max-width: 720px) {
  /* .update-job-form-container {
    padding-top: 100px;
  } */

  .update-job-form-container form,
  .job-status-form {
    width: 80%;
  }
}

@media screen and (max-width: 510px) {
  .job-status-form {
    width: 90%;
  }
}