/*------------------------------------------*/
/*            Main Jobs Container           */
/*------------------------------------------*/

/*
// The homapage after user logs in  
*/
.jobs-container {
  background-color: #f5f0f5;
  width: 100%;
  height: 100vh;
}

.jobs-container h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

  /*
  // This holds the weekly summary graph and job lists 
  // Contained inside .jobs-container 
  */
  .active-jobs-container {
    padding-top: 80px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    width: 1200px;
  }

/*------------------------------------------*/
/*               Jobs Summary               */
/*------------------------------------------*/

/*
// This holds the line graph 
*/ 
.job-summary-container {
  width: 100%;
  height: 300px;
  display: flex;
  font-size: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fefefe;
}


/*------------------------------------------*/
/*                 Job List                 */
/*------------------------------------------*/

/*
// This holds the list of jobs under the weekly summary graph
*/
.job-list {
  background-color: #f5f0f5;
  width: 100%;
  height: 100%;
  margin-bottom: 52px;
}

  /*
  // Navigation above job list
  // "Applied" "Rejected" "Offered" "Archived" 
  */
  .job-list-nav {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    height: 60px;
    color: rgb(51, 156, 197);
    background-color: rgba(255, 0, 0, 0.6);
  }

    .job-list-nav h3 {
      margin-right: 22px;
    }

/*
// Top row of the job list chart 
*/
.job-item-top-row {
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.05);
}

  /*
  // Top row - # 
  */
  .job-item-top-row .job-number {
    width: 10%;
    text-align: center;
  }

  /*
  // Top row - Company
  */
  .job-item-top-row .job-company {
    width: 35%;
  }

  /* 
  // Top row - Position 
  */
  .job-item-top-row .job-position {
    width: 35%;
  }

  /*
  // Top row - Application Date
  */
  .job-item-top-row .job-date {
    width: 20%;
  }


/*
// Single job item (single row) 
*/
.job-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 1.6rem;
  height: 60px;
  cursor: pointer;
}

  /*
  // Odd items have light background 
  */
  .job-item-light {
    background-color: #fefefe;
  }

  /* 
  // Even items have dark background
  */
  .job-item-dark {
    background-color: rgba(0, 0, 0, 0.05);
  }

  /*
  // Job item index (1, 2, 3, ...) 
  */ 
  .job-item-index {
    width: 10%;
    text-align: center;
  }

  /*
  // Company logo and name 
  */
  .job-item-company {
    width: 35%;
  }

  /*
  // Position applied for 
  */ 
  .job-item-position {
    width: 35%;
  }

  /*
  // Application date 
  */
  .job-item-date {
    width: 20%;
  }


/*
// Contains job information that expands on click 
*/ 
.job-info-container {
  width: 100%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  font-size: 1.6rem;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*
// Job information expanded 
*/
.job-info-container-expand {
  visibility: visible;
  opacity: 1;
  height: 200px;
}

  /*
  // Odd info boxes have light background 
  */
  .job-info-light {
    background-color: #fefefe;
  }

  /* 
  // Even info boxes have dark background
  */
  .job-info-dark {
    background-color: rgba(0, 0, 0, 0.05);
  }

  /*
  // Contains: company logo, posting url, phone, email, log date, resume, cover letter
  */
  .job-info-top {
    width: 100%;
    height: 60%;
    display: flex;
  }

    .job-info-top a,
    .job-info-top a:visited {
      text-decoration: none;
      color: rgb(51, 156, 197);
      transition: 0.5s color;
    }

    .job-info-top a:hover {
      color: rgb(42, 70, 97);
    }
  
    /*
    // Single div holding the company logo
    */
    .job-info-logo-container {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

      /*
      // Contains: company logo on the left
      */
      .job-info-logo-container img {
        height: 80px;
        width: auto;
        border-radius: 100%;
      }

    /*
    // Contains: job posting, phone number, email 
    */
    .job-info-company-container {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

      .job-info-company-container p,
      .job-info-user-container p {
        margin: 6px 0;
      }

    /*
    // Contains: logged on, resume, cover letter 
    */
    .job-info-user-container {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    /*
    //
    */
    .job-info-button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
    }

      /*
      // Update Job button
      */
      .job-info-button-container button {
        outline: none;
        border: none;
        width: 100%;
        padding: 22px;
        margin: 6px;
        border-radius: 60px;
        font-size: 1.4rem;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        background-color: rgba(67, 42, 246, 1);
        background: linear-gradient(to right, rgba(67, 42, 246, 1) 0%,rgba(0, 149, 222, 1) 100%);
        color: #fefefe;
        cursor: pointer;
        transition: 0.2s all;
      }

  /*
  // Contains: job status, update button
  */
  .job-info-mid {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    /*
    // Contains: status: awaiting response 
    */ 
    .job-info-mid p {
      margin-left: 22px;
    }

  /*
  // Contains the progress bar 
  */
  .job-info-bottom {
    width: 100%;
    height: 10%;
    /* background-color: rgba(0, 0, 255, 0.4); */
  }

    /*
    // Total bar 
    */
    .job-info-search-progress-total {
      background-color: skyblue;
      width: 100%;
      height: 100%;
      animation: progress-shrink 0.5s;
    }

    /*
    // Progress in search bar
    */
    .job-info-search-progress-earned {
      background-color: rgb(51, 156, 197);
      height: 100%;
      transform-origin: top left;
      animation: progress-grow 0.5s;
    }

    /*
    // Ensures that the progress bar doesn't shrink back when job info folds back in 
    */
    @keyframes progress-shrink {
      0% {
        transform: scale(1, 1);
      }

      100% {
        transform: scale(1, 1);
      }
    }

/*
// When screen is smaller than 1300px wide, the entire jobs page becomes responsive 
*/
@media screen and (max-width: 1300px) {
  .active-jobs-container {
    width: 80%;
  }
}