
.Leaderboard{
    display: flex;
    justify-content: center;
    background-color: #fefefe; 
}

.LeaderboardDiv{
    font-size: 1.4rem;
    height: 60px;
    color: rgb(51, 156, 197); 
}


.main{
    display: flex;
    background-color: #f5f0f5;
    padding-top: 9em;
    justify-content: center;
    align-items: baseline; 
}

.rt-th:focus{
    outline: none;
}

.avatar{
    width: 45%;
}