.resume-form, .cover-form{  
    text-align: center;
    width: 100%;
}

.fileinput-button input {
    position: absolute; 
    cursor: pointer;   
    top: 0em;
    height: 3em;
    width: 100%em;
	opacity: 0;
}


.fa-cloud-upload-alt {
    color: rgb(51, 156, 197);  
    width: 12em;
}

.upload-img{
    width:4em;
    align-self: center;
    /* padding-left: 8em;  */
}

.upload-button {
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: rgb(51, 156, 197);  
    color: #fefefe;
    width: 100px;
    font-weight: 300;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    height: 35px;
}

.upload-button:disabled {
    background-color: rgba(0, 0, 0, .2);  
    color: rgba(0,0,0);
}

.download{
    transform: scaleY(-1);
    width:4em;
    align-self: center;
    padding-left: 2em; 
}

.headings{
    color: rgb(51, 156, 197); 
}

