.resume-form, .cover-form{  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.upload-headers{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.resume-form-input, .cover-form-input {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
resume-form-input h3, cover-form-input h3 {
    font-weight: 400px;
}

#resume-input, #cover-input {
    position: absolute; 
    cursor: pointer;   
    top: 45%;
    height: 17%;
    width: 350px;
    opacity: 0;
}


.fa-cloud-upload-alt {
    color: #3A99D8;
    width: 12em;
}

.upload-img{
    width:4em;
    align-self: center;
    /* padding-left: 8em;  */
}


.upload-button, .skip-button {
    border: none;
    outline: none;
    border-radius: 60px;
    background-color:#3A99D8;
    color: #fefefe;
    width: 100px;
    font-weight: 300;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    height: 35px;
}

.upload-button-container {
    display:flex;
    width: 25%;
    padding-top: 25px;
    flex-direction: row;
    justify-content: space-around;
}

.upload-button:disabled {
    background-color: rgba(0, 0, 0, .2);  
    color: rgba(0,0,0);
}

.download{
    transform: scaleY(-1);
    width:4em;
    align-self: center;
    padding-left: 2em; 
}

.headings{
    color: #3A99D8
}
