/*------------------------------------------*/
/*              Main User Page              */
/*------------------------------------------*/
.user-container {
    background-color: rgb(245, 240, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-container h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/*
// Holds profile image and first name 
*/
.user-top {
    background-color: rgba(255, 0, 0, 0.2);
    width: 800px;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    /*
    // Set profile image to 120 by 120 
    */
    .user-top img {
        height: 120px;
        width: auto;
        margin-bottom: 22px;
    }

    .user-top h3 {
        font-size: 2.6rem;
        font-weight: 300;
    }


/*------------------------------------------*/
/*         Main User Page Navigation        */
/*------------------------------------------*/
/*
// Navigation bar below profile image 
*/
.user-navigation {
    background-color: rgba(255, 0, 0, 0.4);
    display: flex;
    align-items: center;
    width: 800px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

    /*
    // Navigation tabs: Overview, Account 
    */
    .user-navigation h3 {
        display: inline-block;
        position: relative;
        padding: 6px 22px;
        font-size: 1.8rem;
        font-weight: 400;
        margin: 0;
        cursor: pointer;
        border-top: 2px solid transparent;
        border-bottom: 2px solid rgba(0, 0, 0, 0);
    }

    /* 
    // Active tab underlined red  
    */
    .user-navigation.active {
        border-bottom: 2px solid red;
    }

    /*
    // Tab underline animation
    */
    .user-navigation.overview::before,
    .user-navigation.account::before {
        content: '';
        position: absolute;
        width: 0; 
        height: 2px;
        display: block;
        margin-top: 10px;
        right: 0;
        background: red;
        transform: scale(0, 1);
        transform-origin: right top;
        /* transition: width .5s ease; */
        transition: color 0.1s, transform 0.3s ease-out;
    }
    
    /*
    // Tab underline hover 
    */
    .user-navigation.overview:hover::before,
    .user-navigation.account:hover::before {
        /* width: 100%; */
        /* left: 0; */
        transform-origin: left top;
        background: red;
        transform: scale(1, 1);
    }

/*------------------------------------------*/
/*               User Overview              */
/*------------------------------------------*/
.user-overview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(245,240,245);
}


/*------------------------------------------*/
/*               User Progress              */
/*------------------------------------------*/

/*
// The first card under user profile Overview 
*/
.user-progress-container {
    background-color: #fefefe;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 52px auto 0 auto;
}

    /*
    // "Level Progress"
    */
    .user-progress-header h3 {
        font-size: 1.8rem;
        font-weight: 400;
        padding: 22px 22px 6px 22px;
    }

    .user-progress-content {
        display: flex;
        height: 240px;
    }

        /*
        // Rank badges and experience bar
        */
        .user-progress-left {
            width: 65%;
            height: 100%;
        }

            .user-progress-badge-container {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                height: 65%;
            }

                .user-rank-badge {
                    width: auto;
                    height: 110px;
                    margin: 32px 22px 0 22px;
                    /* margin: 22px; */
                }

                .badge-inactive {
                    filter: grayscale(100%);
                    transition: 0.5s all;
                }

                .badge-inactive:hover {
                    filter: grayscale(40%);
                }
            
            .user-progress-bar-container {
                height: 35%;
                display: flex;
                align-items: center;
                justify-content: center;
                /* background-color: rgba(0, 255, 255, 0.4); */
            }

                .user-progress-bar-container p {
                    font-size: 1.4rem;
                    width: 100%;
                    position: relative;
                    text-align: left;
                }

                .user-progress-bar-total {
                    width: 95%;
                    height: 20px;
                    background-color: skyblue;
                }

                .user-progress-bar-earned {
                    height: 20px;
                    background-color: rgb(51, 156, 197);
                    transform-origin: top left;
                    animation: progress-grow 0.5s;
                }

                    @keyframes progress-grow {
                        0% {
                            transform: scale(0, 1);
                        }
                        
                        100% {
                            transform: scale(1, 1);
                        }
                    }

        /*
        // Level name and # of experience points left to go 
        */
        .user-progress-right {
            display: flex;
            flex-direction: column;
            width: 35%;
            height: 100%;
        }

            .user-progress-right h3 {
                font-size: 1.8rem;
                color: rgba(0, 0, 0, 1);
            }

            .user-progress-right h4 {
                font-size: 1.8rem;
                color: rgba(0, 0, 0, 0.6);
            }

            .user-progress-right p {
                font-size: 1.4rem;
                color: rgba(0, 0, 0, 0.6);
            }

            .user-progress-current,
            .user-progress-next,
            .user-progress-message {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding-left: 18px;
            }

            .user-progress-blank {
                height: 20%;
            }

            .user-progress-current,
            .user-progress-next {
                height: 30%;
                border-left: 2px solid rgba(0, 0, 0, 0.1);
            }

            .user-progress-message {
                justify-content: center;
                height: 20%;
            }


/*------------------------------------------*/
/*            Achievement Badges            */
/*------------------------------------------*/

/*
// User achievement badges container
*/
.user-badges-container {
    display: flex;
    width: 800px;
    height: 140px;
    margin: 52px auto 0 auto;
    background-color: #fefefe;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
}

    /*
    // Contains single achievement badge 
    */
    .user-badge-image-container {
        display: flex;
        align-items: center;
        width: 80%;
    }

        /*
        // Achievement badge image 
        */
        .user-badge-image-container img {
            width: auto;
            height: 80px;
            margin: 22px;
        }

    /*
    // "More Badges" 
    */
    .user-badges-container div:last-child {
        display: flex;
        width: 20%;
        /* background-color: rgba(255, 0, 0, 0.6); */
        /* background-color: #fefefe; */
        justify-content: center;
        align-items: center;
    }

    .user-badges-container h3 {
        font-size: 1.6rem;
        font-weight: 400;
        transition: 0.3s color;
    }

    .user-badges-container h3:hover {
        color: #3498db;
    }


.user-activity-container {
    background-color: orange;
    width: 800px;
    margin: 52px auto;
}

.user-stats-container {
    background-color: orangered;
    width: 800px;
    margin: 52px auto;
}


/*------------------------------------------*/
/*          User Account & Settings         */
/*------------------------------------------*/
